.App {
}

.gallery {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: calc(100% - 40px);
    height: 500px;
    padding: 20px;
    background-color: #CCCCCC;
}

.preview {
    width: 50%;
    height: 60%;
}

.preview-image {
    width: 100%;
}

.thumbnails-block {
    width: 50%;
    height: 40%;
    background-color: dimgray;
}

.thumbnail {
    width: 25%;
}

.description-block {
    width: 50%;
    height: 100%;
    padding-left: 20px;
}

.author {
    font-size: 20px;
    font-weight: bold;
}
